{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <h1>Сброс пароля</h1>
        <p>Пожалуйста, введите новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p>Новый пароль: <input type="password" name="password" /></p>
            <p>Подтверждение нового пароля: <input type="password" name="password" /></p>
            <p><input type="submit" value="Поменять мой пароль"/></p>
            <a href="{% url 'password_reset_complete' %}">Продолжить</a>
            {% csrf_token %}
        </form>
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. 
            Пожалуйста, запросите сброс нового пароля.</p>
{% endblock %}