{% extends "base.html" %}
    
    {% block content %}

    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Зарегистрироваться для учетной записи пользователя</h3>
            <div class="card-text">
                
                <form method="POST">
                    <p>Электронная почта: <input type="text" name="email" /></p>
                    <p>Пароль: <input type="password" name="password" /></p>
                    <p>Подтверждение пароля: <input type="password" name="password" /></p>
                    <input type="submit" value="Зарегистрироваться">
                </form>
            </div>
        </div>
    {% endblock %}