{% extends "base.html" %}
    
    {% block content %}
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Вы успешно зарегистрировались как пользователь</h3>
            <div class="card-text text-center">
                Пожалуйста, войдите 
                <a class= "btn btn-primary" href="{% url 'login_attempt' %}"></a>
            </div>
            <div class="sign-up">
            <a href="{% url 'login_attempt' %}">Войти в аккаунт</a>
            </div>
        </div>
    </div>
    </div>
    {% endblock %}